.form-control {
    font-family: lato,sans-serif;
    font-weight: 400;
    padding: 0.8rem 0.75rem;
    font-size: .8rem;
    line-height: 1.25;
    color: #717171;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}

.form-control {
    font-family: lato,sans-serif;
    font-weight: 400;
    padding: 0.8rem 0.75rem;
    font-size: .8rem;
    line-height: 1.25;
    color: #717171;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
button, input, select, textarea {
    line-height: inherit;
}
[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input, select, textarea {
    font-size: 100%;
}
button, html, input, select, textarea {
    font-family: Roboto,Helvetica Neue,sans-serif;
}
button, input, select, textarea {
    vertical-align: baseline;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
input[type="text" i] {
    padding: 1px 2px;
}
user agent stylesheet
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}